ENV=prod
# DATABASE_URL=postgresql://user:password@host:port/database
DATABASE_URL=postgresql://user:password@localhost/sparkapp
EMAIL_PROVIDER=sendgrid  # sendgrid or postmark
SENDGRID_API_KEY=
POSTMARK_TOKEN=
SPARK_ORG_NAME=SparkCreatives Inc.
SPARK_EIN=33-4477854
SPARK_ADDR=6120 Caladesi Ct, Jacksonville, FL 32258
SPARK_VERIFY_BASE_URL=https://sparkcreatives.org/verify
SPARK_LOGO_PATH=/app/assets/logo.png
DATA_DIR=/app/data
